.customHeader {
    background-color: #131a21;
    height: 37px;
}

.logo {
    font-size: 30px;
    margin-right: 10px;
}

.customToolbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 36px;
}

.customSections {
    justify-content: flex-end;
}

.loggedAccount {
    display: block;
    margin-left: 20px;
    width: 2px;
    height: 18px;
    position: relative;
    border-radius: 6px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-transition: -webkit-transform .3s cubic-bezier(.4,.44,.26,1.01);
    transition: -webkit-transform .3s cubic-bezier(.4,.44,.26,1.01);
    -o-transition: transform .3s cubic-bezier(.4,.44,.26,1.01);
    transition: transform .3s cubic-bezier(.4,.44,.26,1.01);
    transition: transform .3s cubic-bezier(.4,.44,.26,1.01),-webkit-transform .3s cubic-bezier(.4,.44,.26,1.01);
    will-change: transform;
}

.loggedIn {
    background: #87d374;
}

.loggedOut {
    background: #f0e7b3;
}

.loggedInShadow:before {
    -webkit-box-shadow: 0 0 6px 3px rgba(135,211,116,.45);
    box-shadow: 0 0 6px 3px rgba(135,211,116,.45);
    content: "";
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.loggedOutShadow:before {
    -webkit-box-shadow: 0 0 6px 3px rgba(240,231,179,.45);
    box-shadow: 0 0 6px 3px rgba(240,231,179,.45);
    content: "";
    position: absolute;
    border-radius: 6px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
